<div class="bg">
  <div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">Desafio Calcme</h3>
        <h6 class="card-subtitle text-center">Thiago Hercules</h6>
        <div class="card-text">
          <form>
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="name" type="text" class="form-control" id="name">
            </div>
            <div class="form-group mt-3">
              <label for="email">Email:</label>
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="email" type="email" class="form-control" id="email">
            </div>
            <div class="form-group mt-3">
              <label for="numero">Telefone:</label>
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="phone" type="number" class="form-control" id="numero">
            </div>
            <button type="button" (click)="enviar()" class="btn btn-success w-100 mt-3">Enviar</button>
          </form>
        </div>
      </div>
      <br><h6 class="card-subtitle text-center">Repositórios</h6>
      <div class="github-buttons">
        <a href="https://github.com/Thercules/front-api-spring-mongodb-calcme" target="_blank" class="github-button">Front-End</a>
        <a href="https://github.com/Thercules/api-spring-mongodb-calcme" target="_blank" class="github-button">Back-End</a>
      </div>
    </div>
  </div>
</div>
